[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
cjio = "*"
geoalchemy2 = "*"
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-marshmallow = "*"
flask-restful = "*"
mypy = "*"
shapely = "*"
pyproj = "*"

[dev-packages]

[requires]
python_version = "3.8"
