<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <meta charset="UTF-8">
    <title>All CityJSON objects</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body>
<div class="container">
  <div class="section bg-primary">
    <h1>CJDB API Demo</h1>
  </div>

    <div class="section bg-gray">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="http://localhost:5000">/home</a>
        </li>
      </ul>
    </div>
</div>

<h2>All CityJSON Objects</h2>
<table>
    <tr>{% for header in headings %}
        <th>{{ header}}</th>
        {% endfor %}
    </tr>
    {% for row in data%}
    <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div class="divider"></div>
<div class="footer">
    <a href="https://github.com/leoleonsio/cjdb">Code in GitHub</a>
</div>

</body>
</html>
