<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>
  <div class="container">
    <div class="section bg-primary">
      <h1>CJDB API Demo</h1>
    </div>

<div class="section bg-gray">
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="http://localhost:5000">/home</a>
    </li>
  </ul>Q
</div>

<h2>Description</h2>
<p>A simple RESTful access to  CityJSON files objects in the database, implemented with a Flask server.</p>

<h2>Collections</h2>
<p><a href="http://localhost:5000/collections?limit=50">View the available collections</a></p>


<h2>API Definition</h2>
<p><a href="http://localhost:5000/api">OpenAPI Documentation</a></p>

<div class="divider"></div>
<div class="footer">
    <a href="https://github.com/leoleonsio/cjdb">Code in GitHub</a>
</div>
  </div>

</body>
</html>
