[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
psycopg2 = "*"
flask-marshmallow = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
